#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.data-table {
    padding: 3rem 0;
    margin: auto;
}

p.score {
    color: #ef233c;
    margin: 2rem auto 0;
    font-weight: 600;
    font-size: 1.3rem;
}
